<!-- theme-vue.css customization 


-->

body{
    font-size: 14px;
}
.content {
   padding-top: 10px;
   left: 250px;
}
.sidebar::-webkit-scrollbar {
    width: 1px;
    background: var(--theme-color,#42b983)
}

.sidebar {
    /*font-size: 14px;*/
    background: #F6F9FB;
    color: #364149;
    padding: 2px 0 0 0;
    width: 250px;
}
.sidebar-toggle span {
    background-color: red;
}
.sidebar>h1 {
    margin: 5px 10px 0 10px;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: var(--theme-color,#42b983);
    /*border-bottom: 1px solid #33A9F4;*/
    word-wrap: break-word;
    white-space: normal;
    text_decoration: underline var(--theme-color, #42b983);
    text-decoration-thickness: 1px;
    -webkit-text_decoration: underline var(--theme-color, #42b983);
    -webkit-text-decoration-thickness: 1px;
}
.sidebar ul li a {
    font-size: 14px;
    word-wrap: break-word;
    white-space: normal;
}
.sidebar ul li a:hover {
    text-decoration: underline;
    color: firebrick;
    white-space: normal;
}
.sidebar ul li.active>a {
    border-right: 4px solid;
    color: var(--theme-color,#42b983);
    font-weight: 600;
}
.sidebar .sidebar-nav {
    line-height: 1.4em;
    border-top: 1px solid #33A9F4;
}
.markdown-section {
    padding: 0 15px 40px;
}
.markdown-section h1 {
    /*color: var(--theme-color,#42b983);*/
    color: #33A9F4;
}
.markdown-section h1, .markdown-section h2, .markdown-section h3 {
    margin: 30px 0 -10px 0;
}
.markdown-section h4 {
    margin: 30px 0 -10px 0;
}
.markdown-section h5 {
    margin: 20px 0 -10px 0;
}
.markdown-section h6 {
    margin: 20px 0 -20px 0;
}

.markdown-section p.tip {
    background-color: #FFF6F4;
}
.markdown-section pre h6 {
    margin: 20px 0 -20px 0;
    color: dodgerblue;
}

.markdown-section blockquote p {
    font-weight: 450;
    margin: 20px 0 -20px 0;
    font-style: italic;
    color: dodgerblue;
}

.markdown-section pre {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    line-height: 1.2rem;
    margin: 1.5em 0;
    overflow: auto;
    padding: 0 1.5rem;
    position: relative;
    word-wrap: normal;
}

.markdown-section pre>code {
    font-style: normal;
    margin: 6px 0;
    padding: 4px 0;
}

.markdown-section code {
    color: black;
    font-weight: 450;
    background-color: #f2f2f2;
}

.markdown-section em {
    color: DarkBlue;
    margin: 0 .2rem 0 .1rem;
}
.pagination-item-title {
    font-size: 1.25em;
}

.button-base {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    font-size: 15px;
    background: #ffffff;
    padding: 1px 20px 1px 20px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 3px #94592c;
    -moz-box-shadow: 0px 1px 3px #94592c;
    box-shadow: 0px 1px 3px #94592c;
    color: #94592c;
    border: solid #94592c 1px;
}
.sidebar-version-date {
    font-family: Arial;
    font-size: 13px;
    color: darkred;
    text-align: center;
    border-bottom: solid darkred 1px;
}
.button-base:hover {
    background: #faebe1;
    text-decoration: none;
}
